body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-color: #dfd2c1;
    color: #000000;
    padding: 40px;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
}

h1 {
    margin: 0;
}

.logo {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.logo img {
    max-width: 100px;
    height: auto;
}

#map-container {
    margin-left: 250px;
    width: calc(100% - 250px);
    height: 100vh;
    position: relative;
}

#map-container img {
    max-width: 100%;
    max-height: 100%;
}

.overlay-object {
    position: absolute;
    transition: filter 0.3s;
}

.overlay-object:hover {
    filter: brightness(1.5);
}

#rowboat-object {
    bottom: 0;
    left: 0;
    width: 25%;
    height: 25%;
}

#whirlpool-overlay {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 50%;
    height: 50%;
}

#whirlpool-overlay:hover {
    filter: brightness(1.5);
}
#quest1-overlay,
#quest2-overlay,
#quest3-overlay,
#quest4-overlay,
#quest5-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
}

#rowboat-object:hover,
#quest1-overlay:hover,
#quest2-overlay:hover,
#quest3-overlay:hover,
#quest4-overlay:hover,
#quest5-overlay:hover {
    filter: brightness(1.5);
}
