#map-container {
    /* Adjustments for background image */
    margin-left: 250px;
    width: calc(100% - 250px);
    height: 100vh;
    position: relative;
}

#map-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-object {
    position: absolute;
    transition: filter 0.3s;
}

.overlay-object:hover {
    filter: brightness(1.5);
}

#rowboat-object {
    top: 65%;
    left: 0;
    width: 20%;
    height: 20%;
}

#whirpool-overlay {
    top: 44%; /* Adjusted position */
    left: 65%; /* Adjusted position */
    width: 20%; /* 80% smaller from 5% */
    height: 20%; /* 80% smaller from 5% */
    z-index: 2;
}

#whirpool-overlay:hover {
    filter: brightness(1.5);
}

#quest1-overlay {
    top: 50%;
    left: 30%;
    width: 45%;
    height: 45%;
}

#quest2-overlay {
    top: 20%; /* Adjusted position */
    left: 65%; /* Adjusted position */
    width: 30%;
    height: 30%;
    z-index: 2;
}

#quest3-overlay {
    top: -7%;
    left: 32%;
    width: 40%;
    height: 40%;
}

#quest4-overlay {
    top: 10%;
    left: 8%;
    width: 30%;
    height: 30%;
}

#quest5-overlay {
    top: 30%;
    left: 1%;
    width: 35%;
    height: 35%;
}

#rowboat-object:hover,
#quest1-overlay:hover,
#quest2-overlay:hover,
#quest3-overlay:hover,
#quest4-overlay:hover,
#quest5-overlay:hover,
#whirpool-overlay:hover {
    filter: brightness(1.5);
}
