@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
body {
    margin: 0;
    padding: 0;
}

header {
    position: relative; /* Make the header a positioning context */
    background-color: #dfd2c1;;
    color: #000000;
    padding: 40px;
    text-align: center;
    font-family: 'MedievalSharp', cursive;;
}

h1 {
    margin: 0;
}

.logo {
    position: absolute; /* Position the logo absolutely */
    top: 50%; /* Align the top of the logo with the middle of the header */
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%); /* Center the logo vertically */
}

.logo img {
    max-width: 100px; /* Adjust the max-width as needed */
    height: auto;
}



#sidebar {
    width: 250px; /* Adjust sidebar width as needed */
    height: 100vh; /* Make sidebar full height of viewport */
    background-color: #f2e6d5;
    color: #fff;
    position: fixed; /* Fixed position to keep sidebar in place */
    left: 0;
    top: 0;
    border-right: 1px solid #666;
}

.sidebar-header {
    background-color:#f2e6d5;;
    padding: 10px;
    border-bottom: 1px solid #666;
    font-family: 'MedievalSharp', cursive;;
}

.sidebar-header h2 {
    margin: 0;
}

.sidebar-content ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    color: #3d3522;
}

.sidebar-content li {
    padding: 10px;
    font-family: 'MedievalSharp', cursive;;
}

.sidebar-content a {
    color:#3d3522;
    text-decoration: none;
}

.sidebar-content a:hover {
    background-color: #a89e92;
}

/* CSS for sidebar sections */
.sidebar-section {
    padding: 20px;
    border-bottom: 1px solid #666; /* Add a border between sections */
    margin-bottom: 20px;
    height: 13%;
    font-family: 'MedievalSharp', cursive;;;
    overflow: auto;
}

.territory-container, 
.provinces-container, 
.challenge-container,
.trophy-container {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.territory-container li, 
.provinces-container li, 
.challenge-container li,
.trophy-container li  {
    padding: 5px 0; /* Add some padding for spacing */
    border-bottom: 1px solid #ccc; /* Optional: add a separator */
    cursor: pointer; /* Change cursor to indicate interactivity */
    color: #000
}

/* Hover effect for list items */
.territory-container li:hover, 
.provinces-container li:hover, 
.challenge-container li:hover,
.trophy-container li:hover {
    background-color: #f4f4f4; /* Change background on hover */
}

.sidebar-section h3 {
    margin-top: 0; /* Remove top margin for the heading */
    color: #3d3522;
  
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.result-item {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.result-item img {
    width: 120px;
    height: 68px; /* Assuming 16:9 aspect ratio */
    border-radius: 4px;
    object-fit: cover;
}

.result-item h3 {
    margin: 0;
    font-size: 1rem;
}

.result-item a {
    margin-left: auto;
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.result-item a:hover {
    background-color: #0056b3;
}

.state-border {
    fill: #AABBCC;
    stroke: #000;
    transition: fill 0.3s, stroke 0.3s;
}

.state-border:hover {
    fill:#FF0000;
    stroke: #FF0000;
}